
.img img
{
    width: 30px;
    height: 30px;
    border-radius: 50%;

}
tr
{
   border-bottom:  4px solid #f8f9fd !important;
}
td
{
    padding-top: 1rem !important;

}
i
{
    cursor: pointer;
}
.min

{
    min-width: 1000px!important;
}